html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    /* scroll-behavior: smooth; */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    pointer-events: none;
}

ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.swiper-slide {
    font-size: 0;
    border-radius: 15px;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
        color-scheme: dark;
  }
  body {
        color: white;
        background: black;
  }
}
